@model List<UserAccountViewModel>
@{
	ViewData.SetPageTitle("List Users");
}
<div>
	<div>
		<br />
		@using(Html.BeginForm(FormMethod.Post))
		{
			<button class="btn btn-default" type="submit">Save Changes</button>
			<br /><br />
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th class="text-center">No.</th>
						<th class="text-center">User ID</th>
						<th class="text-center">Username</th>
						<th class="text-center">Password</th>
						<th class="text-center">Group</th>
						<th class="text-center">Name</th>
						<th class="text-center">Delete</th>
					</tr>
				</thead>
				<tbody>
					@{
						for(int i = 0; i < Model.Count; i++)
						{
							<tr>
								<td class="text-center">
									@(i + 1)
								</td>
								<td class="text-center">
									@Html.HiddenFor(m => m[i].UserId)
									@Model[i].UserId
								</td>
								<td>
									@Html.HiddenFor(m => m[i].Username, new { readOnly = "" })
									@Model[i].Username
								</td>
								<td>
									@Html.TextBoxFor(m => m[i].Password, new { Class = "form-control height-25px" })
								</td>
								<td>
									@Html.FixedDropDownListFor(m => m[i].GroupId, ViewData.GetUserGroupOptions(), new { Class="form-control" })
									@*
										class="form-control"
									*@
								</td>
								<td>
									@Html.TextBoxFor(m => m[i].FullName, new { Class = "form-control height-25px" })
								</td>
								<td class="text-center">
									@Html.CheckBoxFor(m => m[i].RequestDelete)
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
			<button class="btn btn-default" type="submit">Save Changes</button>
						}
	</div>
</div>