@model List<UserAccountViewModel>
    @{ 
        ViewData.SetPageTitle("List Users");
    }
<div>
    <div>
        @using (Html.BeginForm(FormMethod.Post))
        {
            <button type="submit">Save Changes</button>
            <table border="1">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Group</th>
                        <th>Name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1+(ViewData.GetCurrentPage()-1)*ViewData.GetPageSize())</td>
                                <td>
                                    @Html.HiddenFor(m=>m[i].UserId)
                                    @Model[i].UserId
                                </td>
                                <td>
                                    @Html.HiddenFor(m => m[i].Username, new { readOnly = "" })
                                    @Model[i].Username
                                </td>
                                <td>@Html.TextBoxFor(m => m[i].Password)</td>
                                <td>
                                    @Html.FixedDropDownListFor(m => m[i].GroupId, ViewData.GetUserGroupOptions())
                                </td>
                                <td>@Html.TextBoxFor(m => m[i].FullName)</td>
                                <td>
                                    @Html.CheckBoxFor(m => m[i].RequestDelete)
                                    <div class=" switch"></div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <button type="submit">Save Changes</button>
                        }
    </div>
    <div>
        @{
            for (int i = 1; i <= ViewData.GetPageCount(); i++)
            {
                if (i != ViewData.GetCurrentPage())
                {
                    <a href="?page=@i">@i</a>
                }
                else
                {
                    <a>@i</a>
                }
            }
        }
    </div>
</div>