@model Exhys.WebContestHost.Areas.Shared.ViewModels.UserAccountViewModel
@{ 
    if(Model!=null)
    {
        Model.Password = null;
    }
}

    @Html.ErrorListFor(ViewData)
        @using (Html.BeginForm("Profile","Accounts", FormMethod.Post, new { @class = "form-signin" })) 
        {
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.GroupId)
            @Html.HiddenFor(m=>m.GroupName)
            @Html.HiddenFor(m => m.Username)
        <table class="table">
            <tbody>
                <tr>
                    <th>Username</th>
                    <td>@Model.Username</td>
                </tr>
                <tr>
                    <th>Group</th>
                    <td>@Model.GroupName</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m=>m.FullName, "Name")</th> 
                    <td>@Html.TextBoxFor(m=>m.FullName, new { @class = "form-control lineH" })</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.Password, "New Password")</th>
                    <td>@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.ConfirmPassword, "Confirm Password")</th>
                    <td>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</td>
                </tr>
            </tbody>

        </table>
        <button class="btn" type="submit">Save Changes</button>
        }