@model Exhys.WebContestHost.Areas.Shared.ViewModels.UserAccountViewModel
@{ 
    if(Model!=null)
    {
        Model.Password = null;
    }
}

    @Html.ActionLink("Sign Out", "SignOut")

    @Html.ErrorListFor(ViewData)

    <section>
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.GroupId)
            @Html.HiddenFor(m=>m.GroupName)
            @Html.HiddenFor(m => m.Username)
        <table border="1">
            <tbody>
                <tr>
                    <th>Username</th>
                    <td>@Model.Username</td>
                </tr>
                <tr>
                    <th>Group</th>
                    <td>@Model.GroupName</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m=>m.FullName, "Name")</th> 
                    <td>@Html.TextBoxFor(m=>m.FullName)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.Password, "New Password")</th>
                    <td>@Html.PasswordFor(m => m.Password)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.ConfirmPassword, "Confirm Password")</th>
                    <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                </tr>
            </tbody>

        </table>
        <button type="submit">Save Changes</button>
        }
    </section>