<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData.GetPageTitle()- Exhys Admin</title>
	@RenderSection("styles", required: false)
	@Styles.Render("~/Content/css", "~/Content/custom-css")
</head>
<body>
	<header>
		Exhys Administration

	</header>
	<div>
		@{
			var user = ViewData.GetSignedInUser();
			if(user != null && user.IsGuest == false)
			{
				<span>User: @(user.FullName)</span>
			}
		}
	</div>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-b<ar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Exhys", "Index", "Home", new { area = "" }, new { @class = "navbar-brand"})
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="true">
							User Groups
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="usergroups">
							<li>@Html.ActionLink(linkText: "List Groups", controllerName: "UserGroups", actionName: "List")</li>
							<li>@Html.ActionLink(linkText: "Add Groups", controllerName: "UserGroups", actionName: "Add")</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="true">
							User Accounts
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="users">
							<li>@Html.ActionLink(linkText: "List Users", controllerName: "UserAccounts", actionName: "List")</li>
							<li>@Html.ActionLink(linkText: "Add Users", controllerName: "UserAccounts", actionName: "AddMany")</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="true">
							Competitions
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="competitions">
							<li>@Html.ActionLink(linkText: "List Competitions", controllerName: "Competitions", actionName: "List")</li>
							<li>@Html.ActionLink(linkText: "Create Competition", controllerName: "Competitions", actionName: "Add")</li>
						</ul>
					</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="true">
                            Problems
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="problems">
                            <li>@Html.ActionLink(linkText: "List Problems", controllerName: "Problems", actionName: "List")</li>
                            <li>@Html.ActionLink(linkText: "Add Problem", controllerName: "Problems", actionName: "Add")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="true">
                            Programming Languages
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="problems">
                            <li>@Html.ActionLink(linkText: "List Languages", controllerName: "ProgrammingLanguages", actionName: "List")</li>
                            <li>@Html.ActionLink(linkText: "Add Language", controllerName: "ProgrammingLanguages", actionName: "Add")</li>
                        </ul>
                    </li>

				</ul>
			</div>
		</div>
	</div>
	<br />
	<div class="container body-content">
		@RenderBody()
	</div>
	
	@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
	<script>
		$('button').addClass('btn btn-default');
	</script>
</body>
</html>