
<!doctype html>
<head>
    <link rel="stylesheet" href="~/WebRoot/Styles/style.min.css"/>
</head>
<body>
    <header>
        Exhys Administration
        @{ 
            var user = ViewData.GetSignedInUser();
            if(user!=null)
            {
                <span>User: @(user.FullName)</span>
            }
        }
    </header>

    <nav>
        <ul>
            <li>
                @Html.ActionLink(linkText:"Groups", controllerName:"UserGroups", actionName:"List")
            </li>
            <li>
                <a href="#" onclick="return false;">User Accounts</a>
                <ul>
                    <li>@Html.ActionLink(linkText:"List Users", controllerName:"UserAccounts", actionName:"List")</li>
                    <li>@Html.ActionLink(linkText:"Add Users", controllerName:"UserAccounts", actionName:"AddUsers")</li>
                </ul>
            </li>
            <li>
                <a href="#">Competitions</a>
                <ul>
                    <li>@Html.ActionLink(linkText: "List Competitions", controllerName: "Competitions", actionName: "List")</li>
                    <li>@Html.ActionLink(linkText: "Add Competition", controllerName: "Competitions", actionName: "AddCompetition")</li>
                </ul>
            </li>
            <li>
                <a href="#">Problems</a>
                <ul>
                    <li>@Html.ActionLink(linkText: "List Problems", controllerName: "Problems", actionName: "List")</li>
                    <li>@Html.ActionLink(linkText:"Add Problem", controllerName:"Problems", actionName:"AddProblem")</li>
                </ul>
            </li>

            <li>
                <a href="#">Extras</a>
                <ul>
                    <li><a href="http://www.google.com">Google</a></li>    
                    <li><a href="http://www.google.com">Google</a></li>    
                    <li><a href="http://www.google.com">Google</a></li>    
                    <li><a href="http://www.google.com">Google</a></li>    
                    <li>
                        <a href="#">Advanced Extras</a>
                        <ul>
                            <li><a href="http://www.google.com">Google</a></li>
                            <li><a href="http://www.google.com">Google</a></li>
                            <li><a href="http://www.google.com">Google</a></li>
                            <li><a href="http://www.google.com">Google</a></li> 
                            <li>
                                <a href="#">More Advanced Extras</a>
                                <ul>
                                    <li><a href="http://www.google.com">Google</a></li>
                                    <li><a href="http://www.google.com">Google</a></li>
                                    <li><a href="http://www.google.com">Google</a></li>
                                    <li><a href="http://www.google.com">Google</a></li>
                                </ul>
                            </li>   
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <section>@RenderBody()</section>

    <footer>

    </footer>
</body>