
<!doctype html>
<head>

</head>
<body>
    <header>
        Exhys Administration
        @{ 
            var user = ViewData.GetSignedInUser();
            if(user!=null)
            {
                <span>User: @(user.FullName)</span>
            }
        }
    </header>

    <nav>
        <ul>
            <li>
                <a href="#">User Groups</a>
                <ul>
                    <li>@Html.ActionLink(linkText:"List Groups", controllerName:"UserGroups", actionName:"List")</li>
                </ul>
            </li>
            <li>
                <a href="#">User Accounts</a>
                <ul>
                    <li>@Html.ActionLink(linkText:"List Users", controllerName:"UserAccounts", actionName:"List")</li>
                    <li>@Html.ActionLink(linkText:"Add Users", controllerName:"UserAccounts", actionName:"AddUsers")</li>
                </ul>
            </li>
            <li>
                <a href="#">Competitions</a>
                <ul>
                    <li>@Html.ActionLink(linkText: "List Competitions", controllerName: "Competitions", actionName: "List")</li>
                    <li>@Html.ActionLink(linkText: "Add Competition", controllerName: "Competitions", actionName: "AddCompetition")</li>
                </ul>
            </li>
            <li>
                <a href="#">Problems</a>
                <ul>
                    <li>@Html.ActionLink(linkText: "List Problems", controllerName: "Problems", actionName: "List")</li>
                    <li>@Html.ActionLink(linkText:"Add Problem", controllerName:"Problems", actionName:"AddProblem")</li>
                </ul>
            </li>
        </ul>
    </nav>

    <section>@RenderBody()</section>

    <footer>

    </footer>
</body>