@model FooterViewModel
<ul class="nav navbar-nav navbar-right">
	@if(Model.WithUsernameInFront)
	{
		<li><a href="/Accounts/Profile" id="registerLink">@Model.UserName</a></li>
	}
	<li>
		<a class="dropdown-t oggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="true" style="width:37px">
			<img src="~/Content/Pictures/user.jpg" class="img-user" />
		</a>
		<ul class="dropdown-menu">
			<li>
				@if(Model.WithUsernameInDropdown)
				{
					@Html.ActionLink(linkText: @Model.UserName, controllerName: "Accounts", actionName: "Profile")
				}
				else
				{
					@Html.ActionLink(linkText: "View Profile", controllerName: "Accounts", actionName: "Profile")
				}
			</li>
			<li>@Html.ActionLink(linkText: "Sign Out", controllerName: "Accounts", actionName: "SignOut")</li>
		</ul>
	</li>
</ul>
