@model UserGroupViewModel
        <div>
            <br /><br />
            <div class="col-lg-6">
                @using (Html.BeginForm("Add", "UserGroups", FormMethod.Post, new { @class = "form-horizontal well" }))
                {
                    <fieldset>
                        <legend>Add Group</legend>
                        @if (Html.ErrorListFor(ViewData) != null)
                        {
                            <div class="alert alert-dismissible alert-danger">
                                <button id="btn-close" type="button" class="close" data-dismiss="alert">×</button>
                                @Html.ErrorListFor(ViewData)
                            </div>
                        }
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(m => m.Name, new { placeholder = "Group Name", @class = "form-control lineH" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextAreaFor(m => m.Description, new { placeholder = "Description", @class = "form-control lineH" })
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.IsAdmin) Is Administrator
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.IsOpen, new { @class = "valign-middle" }) Is Open
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default">Reset</button>
                                <button type="submit" class="btn btn-primary">Add Group</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
