@model RankingViewModel
	<ul class="breadcrumb">
		<li><a href="/Participation/List">Home</a></li>
		<li><a href="/Ranking/List">Ranking</a></li>
		<li class="active">View</li>
	</ul>
	<table border="1" style="width:100%;" class="table table-hover table-responsive table-striped">
		<thead>
			<tr>
				<th rowspan="2">Rank</th>
				<th rowspan="2">Name</th>
				<th rowspan="1" colspan="@Model.ProblemNames.Length">Problem Scores</th>
				<th rowspan="2">Total</th>
			</tr>
			<tr>
				@{
					foreach(string name in Model.ProblemNames)
					{
						<th>@name</th>
					}
				}
			</tr>
		</thead>
		<tbody>
			@{
				foreach(RankingUserViewModel user in Model.Users)
				{
					<tr>
						<td>@(user.Rank.ToString())</td>
						<td>@user.Name</td>
						@{
							foreach(string score in user.ProblemScores)
							{
								<td>@score</td>
							}
						}

						<td>@user.Score</td>
					</tr>
				}
			}
		</tbody>
	</table>