@model CompetitionViewModel
<region>
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id);
        @Html.HiddenFor(m=>m.Name)
        @Html.HiddenFor(m=>m.Description)
        @Html.HiddenFor(m=>m.GroupId)
        <div>
            Are you sure you want to join this competition?
        </div>
        <div>
            @Model.Name
        </div>
        <div>
            @Model.Description
        </div>
        <div>
            <button type="submit">Yes</button>
            <button type="button" onclick="window.history.back();">No</button>
        </div>
    }
</region>