@model  List<ProgrammingLanguageViewModel>

@{ 
    ViewData.SetPageTitle("List Languages");
}

<div>
    <br />
    @using (Html.BeginForm(FormMethod.Post))
    {
        <button type="submit">Save Changes</button>
        <br /><br />
        <table class="table table-bordered table-hover table-striped">
            <thead class="th-center">
                <tr>
                    <th>Alias</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Delete</th>
                    @*<th>Edit</th>*@
                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < Model.Count; i++)
                    {
                        <tr class="valign-middle">
                            <td class="text-center">
                                @Html.HiddenFor(m => m[i].Alias)
                                <span>@Model[i].Alias</span>
                            </td>
                            <td>@Html.TextBoxFor(m => m[i].Name, new { @class = "form-control height-25px" })</td>
                            <td>@Html.TextBoxFor(m => m[i].Description, new { @class = "form-control height-25px" })</td>
                            <td class="text-center">@Html.CheckBoxFor(m => m[i].RequestDelete)</td>
                            @*<td>
                                    @Html.ActionLink(linkText: "Edit", actionName: "Edit", routeValues: new { id = Model[i].Id })
                                </td>*@
                        </tr>
                    }
                }
            </tbody>
        </table>
        <button type="submit">Save Changes</button>
                    }
</div>