@model IList<ProblemViewModel>
<div>
    @using (Html.BeginForm())
    {
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Competition</th>
                    <td>Requires Checker</td>
                    <td>Dummy T.C</td>
                    <td>Points p. Test</td>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Html.TextBoxFor(m => m[i].Id, new { readOnly="" })</td>
                            <td>@Html.TextBoxFor(m => m[i].Name)</td>
                            <td>
                                @*@(Model[i].CompetitionName)*@
                                @Html.FixedDropDownListFor(m=>m[i].CompetitionId, ViewData.GetCompetitionOptions())
                            </td>
                            <td>@Html.CheckBoxFor(m=>m[i].RequiresChecker)</td>
                            <td>@Html.TextBoxFor(m=>m[i].DummyTestCount)</td>
                            <td>@Html.TextBoxFor(m=>m[i].PointsPerTest)</td>
                            <td>@Html.CheckBoxFor(m => m[i].RequestDelete)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <button type="submit">Save Changes</button>
    }
</div>

